.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.liftsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 5px;
}

.completeButton {
  margin: 20px;
}